<html>
  <head></head>
  <body>
	<div style="width:80%;margin-left:10%">
		<h3>Reset password</h3>
		<p>Hi, {user}.</p>
		<p>
		   We received a request for you to reset your password.
		</p>
		<p>
           Follow <a href="{link}">this link</a> in order to reset your password. You'll be prompted for a new password.
           After that, you can login with your new password.
		</p>
		<p>
			If you did not request a password reset you should report this incident to the site's administrator.
		</p>
	</div>
  </body>
</html>
